

section h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: 600;
  color: black;
  padding-top: 7px;
  padding-bottom: 7px;
}

section h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: black;
  padding-top: 7px;
  padding-bottom: 7px;
}

section p {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: black;
  font-weight: 500;
  padding-top: 7px;
  padding-bottom: 7px;
}

.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  font-weight: 800;
  color: #ff8c00;
  background-color: #FFF0E3;
  text-align: center;
  padding: 40px;
}

#row {
  padding-top: 30px;
  padding-bottom: 30px;

}
/*PROJECTS CONTENT */
.inline {
  display: inline;
}

/* RESUME BUTTON*/
.resume-button {
  background-color: transparent;
  border: 1px solid #ff8c00;
  box-sizing: border-box;
  color: #ff8c00;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 90px;
  position: relative;
  text-align: center;
}

.resume-button:hover,
.resume-button:active {
  outline: 0;
}

.resume-button:hover {
  background-color: transparent;
  cursor: pointer;
}

.resume-button:before {
  background-color: white;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  width: 100%;
  z-index: -1;
}

.resume-button:hover:before {
  background-color: #ffd6a3;
}

@media (min-width: 768px) {
  .resume-button {
    padding: 16px 32px;
    height: auto;
  }
}

/*DOE CASE STUDY PAGE*/
#doeprojects-hero-content {
  padding: 30px;
}

#doe-casestudy-content {
  padding: 50px;
}

#doe-casestudy-overview {
  padding: 40px;
}

#doe-casestudy-research {
  padding: 40px;
}

#doe-casestudy-definition-ideation {
  padding: 40px;
}

#doe-casestudy-prototyping {
  padding: 40px;
}

.gif-desktop {
  height: 500px;
  width: 800px;
}

.gif-mobile {
  height: 500px;
  width: 230px;
}

.DOEcasestudy-content li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  list-style: none;
  color: #ff8c00;
}

.card-body {
  height: 175px;
  text-align: center;
  background-color: #ffd6a3;
}

.companyLogos img {
  height: 75px;
  width: 75px;
}